.container {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 1920px;
  height: 988px;
  align-items: center;
}
.viewport {
  width: 1920px;
  height: 988px;
  overflow: hidden;
}
.view {
  display: flex;

  width: 1920px;
  height: 988px;
  transition: translate;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.buttonLeft {
  position: absolute;
  cursor: pointer;
  left: 32px;
  top: 470px;
  fill: $semiWhite;

  &:hover {
    fill: $white;
  }
}
.buttonRight {
  position: absolute;
  cursor: pointer;
  right: 32px;
  top: 470px;
  fill: $semiWhite;

  &:hover {
    fill: $white;
    transition: fill 1s;
  }
}
.counter {
  display: flex;
  gap: 4px;
  position: absolute;
  top: 814px;
  left: 345px;
}
.counterItem {
  width: 178px;
  height: 54px;
  border-bottom: 2px solid $semiWhite;
  color: $semiWhite;
  &:hover {
    cursor: pointer;
  }
}
.active {
  color: $white;
  border-color: $white;
  transition: all 1s;
}
.info {
  position: absolute;
  width: 577px;
  top: 220px;
  left: 345px;
  display: flex;
  flex-direction: column;

  color: $white;
  span {
    color: $primary;
  }
}
.title {
  margin-bottom: 24px;
}
