.container {
  display: flex;
  gap: 80px;
  align-items: center;
}
.imgWrapper {
  width: 575px;
  height: 420px;
  border: 1px solid green;
}
.blockInfo {
  width: 575px;
  height: 420px;
  border: 1px solid green;
}
