.container {
  box-sizing: border-box;
  width: 100%;
  height: 600px;
  padding-top: 152px;
  background-color: $gray200;
}

.pageTitle {
  @extend .containerSection;
}

.title {
  @extend .display2;
  margin-bottom: 48px;
  color: $gray900;
}
.imageWrapper {
  width: 1230px;
  height: 500px;
  @extend .containerSection;
  margin-top: -80px;
  margin-bottom: 80px;
}
.meta_socials {
  display: flex;
  justify-content: space-between;
}
.breadcrumb {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
  @extend .small_regular;
}
.homepage {
  color: $gray800;
}
.namepage {
  color: $gray600;
}
.slash {
  @extend .small_regular;
  color: $gray600;
}
