.navInfo {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
  @extend .small_regular;
}
.homepage {
  color: $gray800;
}
.namepage {
  color: $gray600;
}
.route {
  display: flex;
  gap: 8px;
}
.slach {
  @extend .small_regular;
  color: $gray600;
}
