.containerCoreValues {
  padding-top: 180px;
  padding-bottom: 120px;
}

.containerServices {
  padding-top: 120px;
  padding-bottom: 80px;
  background-color: $gray200;
}

.containerClients {
  padding-top: 80px;
  padding-bottom: 90px;
  background-color: $gray200;
}
