.container {
  width: 100%;
  height: 600px;
  padding-top: 152px;
  padding-left: 345px;
}

.navInfo {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
  @extend .small_regular;
}
.title {
  @extend .display1;
  margin-bottom: 24px;
  color: $gray900;
}
.note {
  @extend .lead_regular;
  width: 600px;
  color: $gray700;
}
.homepage {
  color: $gray800;
}
.namepage {
  color: $gray600;
}
.route {
  display: flex;
  gap: 8px;
}
.slach {
  @extend .small_regular;
  color: $gray600;
}
