.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: $widthSection;
  margin-left: 345px;
  height: 620px;
  margin-top: 302px;
}
