.info {
  margin-top: 24px;
  margin-bottom: 60px;
  color: $gray700;
}
.playerWrapper {
  position: relative;
  width: 100%;
  height: 500px;
  border: 1px solid green;
  margin-bottom: 180px;
}
.iconPlayVideo {
  position: absolute;
  top: 210px;
  left: 575px;
}
