.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 495px;
  top: 80px;
  // left: 1080px;
  left: 0;
  padding: 48px 40px;
  border-radius: 4px;
  background-color: $white;
  border: 1px solid green;
}

.title {
  color: $gray900;
  margin-bottom: 24px;
}
.form {
  display: flex;
  width: 100%;
  flex-direction: column;

  gap: 20px;
}
.formInput {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wrapperButton {
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  // width: 174px;
  // padding: 24px 160px;
}
.message {
  position: absolute;
  left: 0;
  bottom: -18px;
  @extend .extrasmall_regular;
}
.valid {
  color: $success;
}
.novalid {
  color: $danger;
}
