$widthBlock: 1230px;

$primary: #ff5a30;
$white: rgba(255, 255, 255, 1);
$semiWhite: rgba(255, 255, 255, 0.5);
$borderInputHover: rgba(255, 90, 48, 0.4);
$success: #03cea4;
$danger: #ff4242;

$gray100: #f9f9f9;
$gray200: #f4f5f6;
$gray300: #e5e8ed;
$gray400: #d7dadd;
$gray500: #b3b7bc;
$gray600: #9a9ca5;
$gray700: #787a80;
$gray800: #424551;
$gray900: #1e212c;
h1,
h3 {
  font-family: Ubuntu;
  margin: 0;
  // color: $gray900;
}
h1 {
  //styleName: h1;
  font-size: 46px;
  font-weight: 700;
  line-height: 59.8px;
  text-align: center;
}
h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
}

.base_bold {
  //styleName: base/bold;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  text-align: left;
}
.lead_bold {
  //styleName: lead/bold;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: $gray900;
  // color: currentColor;
  // &:hover {
  //   color: $white;
  // }
}

.small_bold {
  //styleName: small/bold;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
}
.base_regular {
  //styleName: base/regular;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: center;
  color: $gray700;
}

.large_regular {
  //styleName: large/regular;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
.lead_regular {
  //styleName: lead/regular;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.small_regular {
  //styleName: small/regular;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.extrasmall_regular {
  //styleName: extrasmall/regular;
  font-family: Ubuntu;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.display1 {
  //styleName: display/1;
  font-family: Ubuntu;
  font-size: 72px;
  font-weight: 700;
  line-height: 93.6px;
  letter-spacing: 1px;
  text-align: left;
}
.containerChildren {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $widthBlock;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}
.boxBasic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 285px;
  fill: $primary;
  &:hover {
    color: $white;
    fill: $white;
  }
}

.infoTitle {
  margin-top: 24px;
  margin-bottom: 60px;
  color: $gray700;
}
