$widthApp: 1920px;
$widthSection: 1230px;
$heightSliderHero: 988px;

$primary: #ff5a30;
$white: rgba(255, 255, 255, 1);
$semiWhite: rgba(255, 255, 255, 0.5);
$lightlyWhite: rgba(255, 255, 255, 0.2);
$bgInputSubscribe: rgba(255, 255, 255, 0.12);
$borderInputHover: rgba(255, 90, 48, 0.4);
$buttonHover: #fc3300;
$buttonActive: #fc3300;
$success: #03cea4;
$danger: #ff4242;

$gray100: #f9f9f9;
$gray200: #f4f5f6;
$gray300: #e5e8ed;
$gray400: #d7dadd;
$gray500: #b3b7bc;
$gray600: #9a9ca5;
$gray700: #787a80;
$gray800: #424551;
$gray900: #1e212c;

// div {
//   box-sizing: border-box;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ubuntu;
  margin: 0;

  // color: $gray900;
}
h1 {
  //styleName: h1;
  font-size: 46px;
  font-weight: 700;
  line-height: 59.8px;
  text-align: center;
  color: inherit;
}
h2 {
  //styleName: h2;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
}
h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
}
h4 {
  //styleName: h4;
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}

h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-align: left;
}
input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}
.small_bold {
  //styleName: small/bold;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
}
.base_bold {
  //styleName: base/bold;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  text-align: left;
}
.mid_bold {
  //styleName: large/bold;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
}
.lead_bold {
  //styleName: lead/bold;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: $gray900;
}
.large_bold {
  //styleName: lead/bold;
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: $gray900;
}

.base_regular {
  //styleName: base/regular;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: center;
  color: $gray700;
}

.large_regular {
  //styleName: large/regular;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
.lead_regular {
  //styleName: lead/regular;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.small_regular {
  //styleName: small/regular;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.extrasmall_regular {
  //styleName: extrasmall/regular;
  font-family: Ubuntu;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  // letter-spacing: 0.5px;
}

.lato_black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.display1 {
  //styleName: display/1;
  font-family: Ubuntu;
  font-size: 72px;
  font-weight: 700;
  line-height: 93.6px;
  letter-spacing: 1px;
  text-align: left;
}
.display2 {
  //styleName: display/2;
  font-family: Ubuntu;
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1px;
  text-align: left;
}

.containerApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $widthApp;
  margin-left: auto;
  margin-right: auto;
}
.containerChildren {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $widthSection;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.boxBasic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 285px;

  fill: inherit;
  color: inherit;
  &:hover {
    color: inherit;
    fill: inherit;
  }
}

.subTitle {
  margin-top: 24px;
  margin-bottom: 60px;
  color: $gray700;
}
.notSubTitle {
  margin-bottom: 60px;
  color: $gray700;
}
.containerSection {
  width: $widthSection;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}
.shadow_small {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.shadow_regular {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16),
    0px 30px 24px -10px rgba(154, 156, 165, 0.1),
    0px 12px 10px -6px rgba(154, 156, 165, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.shadow_large {
  box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16),
    0px 26px 24px -10px rgba(30, 33, 44, 0.1),
    0px 12px 10px -6px rgba(30, 33, 44, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.shadow_drop {
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05),
    0px 12px 10px -6px rgba(255, 90, 48, 0.08),
    0px 26px 24px -10px rgba(255, 90, 48, 0.1),
    0px 60px 80px -20px rgba(255, 90, 48, 0.16);
}
///////////////mixins//////////////
///
// @mixin sliderViewPort($widthSlider, $heightSlider) {
//   .container {
//     display: flex;
//     flex-direction: column;
//     position: relative;

//     width: $widthSlider;
//     height: $heightSlider;
//     align-items: center;
//   }
//   .viewport {
//     width: $widthSlider;
//     height: $heightSlider;
//     overflow: hidden;
//   }
//   .view {
//     display: flex;

//     width: $widthSlider;
//     height: $heightSlider;
//     transition: translate;
//     transition-property: transform;
//     transition-duration: 500ms;
//     transition-timing-function: ease-in-out;
//   }
// }
