$primary: #ff5a30;
$white: rgba(255, 255, 255, 1);
$semiWhite: rgba(255, 255, 255, 0.5);

$gray800: #424551;
$gray900: #1e212c;

.h3 {
  //styleName: h3;
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  text-align: left;
}

.base_bold {
  //styleName: base/bold;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  text-align: left;
}

.small_bold {
  //styleName: small/bold;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
}
.large_regular {
  //styleName: large/regular;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
.lead_regular {
  //styleName: lead/regular;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.display1 {
  //styleName: display/1;
  font-family: Ubuntu;
  font-size: 72px;
  font-weight: 700;
  line-height: 93.6px;
  letter-spacing: 1px;
  text-align: left;
}
