.container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 486px;
  padding: 48px;
  background-color: $white;
  @extend .shadow_large;
  border-radius: 4px;
}
.title {
  @extend h3;
  color: $gray900;
  margin-bottom: 24px;
}
.iconWrapper {
  position: absolute;
  top: 24px;
  right: 24px;
  &:hover {
    cursor: pointer;
  }
}
