.sectionPartnersTeam {
  display: flex;
  flex-direction: column;
  gap: 180px;
  padding-top: 103px;
  padding-bottom: 120px;
}
.sectionStatisticsCEO {
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.sectionCoreValuesHistory {
  display: flex;
  flex-direction: column;
  gap: 197px;
  padding-top: 63px;
  padding-bottom: 100px;
  background-color: $gray200;
}
